extends base.pug
include mixins/video

block content 
    form(method="GET").search__form
        input(placeholder="제목을 통해 검색하세요!",type="text",name="keyword")
        button 
            i.fas.fa-search 

    div.video-grid 
        each video in videos 
            +video(video)
        else 
            span.empty__message 비디오가 존재하지 않아요 :(