div.social-login
    a(href="/users/github/start").social__btn.social-login__github 
        i.fab.fa-github 
        |  깃허브로 로그인 하기  &rarr;
    br
    a(href="/users/kakao/start").social__btn.social-login__kakao 
        i.fas.fa-comment   
        |  카카오로 로그인 하기  &rarr;